:root {
    --color-display-keys: #90afc5;
    --color-two: #336b87;
    --color-three: #2a3132;
    --color-del: #f98866;
    --color-equal: #0044FFAA;
    --color-sign: #6fb98f;
  }

*,
::before,
::after {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    /* outline: 1px solid green; */
}

body {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid lightblue;
    border-radius: 20px;
    background-color: var(--color-two);
}

.display {
    width: 350px;
    min-height: 120px;
    margin-bottom: 25px;
    border-radius: 20px;
    border-style: none;
    background-color: var(--color-display-keys);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75) inset;
}

.display-first-row {
    display: flex;
    font-size: 1rem;
    opacity: 0.6;
    justify-content: flex-end;
    align-items: center;
    width: 330px;
    min-height: 50px;
}
.display-second-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 330px;
    height: 70px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 0;
}

.button {
    width: 80px;
    height: 80px;
    border-radius: 33px;
    background-color: var(--color-three);
    color: #DFDFDF;
    border: none;
}
.button.color-del:hover {
    background-color: var(--color-del);
}
.button.color-sign:hover {
    background-color: var(--color-sign);
}
.button.color-num:hover {
    background-color: var(--color-display-keys);
}
.button.color-equal:hover {
    background-color: var(--color-equal);
}

.button:hover {
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    color: #2a3132;
    transform: translateY(-3px);
    transition: all .10s ease-in-out;
}